
header, nav, main, footer, aside { display: block;
									} 
body { margin:0;
		background-color: #ffffff;
		}
#container{ background-color: #eeeeee;
			color: #602040;
			min-width: 960px;
			font-family: Verdana, Arial, sans-serif;}
header { background-color:#580099;
			background-position: bottom;
			background-repeat: repeat-x;
			height: 140px;
			color: white;
			font-size: 2em;
			text-align: right;
			padding: 0 20px;
			border-bottom: 2px solid #000000; }
nav { float: left;
		width: 150px; }
aside { float: right;
		width: 205px;
		font-size:18px;
	top: 271px;
	left: 0;
   
  }
  
main { margin: 0 210px 0 160px;
		padding: 1px 10px 20px 10px;
		background-color: #ffffff;
		color: #602040;}
p {     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

footer { font-size: .70em;
		 text-align: center;
		 color: #602040;
		 background-color: #ffffff;
		 padding-top: 10px;
		 clear: both;}
			
h1{ margin-top: 0;
	font-size: 2.5em;
	text-align: center;
	text-shadow: 2px 2px 2px #000000; }
	
	a:visited { color: #602040;}
header a:focus, header a:hover {color: #602040; }
nav ul { margin-top: 20px;
		list-style-type: none;}
nav a { text-decoration: none;
			font-size: 1.2em; }
nav a:link { color: #602040;}
nav a:visited { color: #602040;}
nav a:hover { color: #c1a500;}
nav a:active { color: #602040;
}
nav img { margin: 30px;}
main p { margin: 20px;
font-size: 24px;}
main h2, main h3 { color: #c1a500;
					background-color: #ffffff; }
#floatright	{ margin: 10px;
					float: right;}
#floatleft	{ margin: 10px;
					clear: left;}					
aside h2 { padding-bottom: 2px;
			border-bottom: 1px solid #000000;
			margin: 10px;
			font-size: 1.00em;
			color: #c1a500; }
			
	aside h3{ padding-bottom: 2px;
						margin: 10px;
			font-size: 1.00em;
			color: #c1a500; }
			
.fabric { font-size: 1em;
		margin: 10px; }
		
form { background-color:#eaeaea;
	font-family: Arial, sans-serif;
    padding: 10px; }
	
label {
	width: 100px; 
    clear: left;
	text-align: right; 
	padding-right: 10px;
	margin-top: 10px;
	font-size: 24px;}
	
input, textarea { margin-top: 10px; 
                  display: block; } 
#mySubmit { margin-left: 110px; 
			clear: left;}	
		

#gallery { position:relative;
 top: 0;
  margin-left: auto;
   text-align: center;
  border-bottom: 2px solid white;  
	font-weight:bold;	


}

#gallery ul { min-width: 100%; 
			  list-style-type: none;
			  
			  }
#gallery li { display: inline-block;
				
			  padding: 10px; 
			 	padding-bottom: 20px;
				box-shadow: 10px 10px 5px #888888;
				margin: 10px;
				text-align: center;
				font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			  			  }
					  
#gallery img.gallery { border-style: none;
border: 1px solid #602040;

 }
 
#gallery a { text-decoration: none; 
			 color: #602040; 
			 font-style: italic;
			text-align: center;
		 
						 }
						 
						 
#gallery span { display: none;
				


}    
#gallery a:hover span { display: block; 
						position: absolute;
						top: 10px; 
						left: 300px;
						text-align: center; 
						
							}
div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}

legend {
    font-size: 24px;
  }	
figure { width:150px;
	         border: 3px solid #602040;
         padding: 2px;
		position:relative;}
figcaption { text-align: center;
             font-family: Papyrus, fantasy; 
			 
			 }
img{ max-width:100%;
height:auto;}

			

/*Begin Media Query Rules */	


@media only screen and (max-width: 1024px) 
{
#mobile { display: none; } 
#desktop { display: inline; }	

body { margin:0;
		
		}
#container{ width: auto; 
		min-width: 0;
		margin: 0;
		box-shadow: none ;} 
header { 
			background-image: url(images/head2.jpg);
			  background-repeat:no-repeat;
		     background-size: cover;
		     height: auto;
			 }
h1	{
		margin: 0;
	}			 
nav { float:none;
		width: auto;
		padding-top: 0;
		margin-top: 0;}
	 nav li { display:inline-block; }
	 nav a {padding: 1em ;
		   width: 8em;
		   font-weight: bold;
		   border-style: none;
		   font-size: 1.3em;}
		  nav ul { padding:0;
				Margin:0;}
		main{padding: 1em;
				margin:0;
				font-size:90%}
	
	nav img  {display: none;}
					   
   aside { display: none;}
   
  				
}

@media only screen and (max-width: 768px) 
{  

header { 
			background-image: url(images/head2.jpg);
			  background-repeat:no-repeat;
		     background-size: cover;
		     height: auto;
			 }

aside { display: none;}
 

 nav a{ display: block;
		padding: 0.2em;
		border-color:  #602040;
		width: auto;
		padding-bottom: 1px;}
nav li { display: block; }
h1	{
		height: 100%;
		font-size: 2em;
	}
h2 {padding-top: 0.5em;
		padding-right:  0;
		padding-bottom: 0;
		padding-left:  0.5em;
		margin-right:  0.5em;}
h3 {padding-top: 0.5em;
		padding-right:  0;
		padding-bottom: 0;
		padding-left:  0.5em;
		margin-right:  0.5em;}				
.details { padding-left: 0;
					padding-right: 0; 
					}
.floatright {display: none;}
.floatleft {padding-left: 0.5em;
					padding-right: 0.5em;}
#container	{
		width: auto;
		min-width: 0;
		margin: 0;
		box-shadow: none;
	}

	nav img  {display: none;}
	
	#mobile { display: inline; } 
#desktop { display: none; }
}

